
//
// VARIABLES
//

:root {
  --black: #000;
  --darkGray: #212121;
  --gray: #666;
  --lightGray: #eee;
  --lightGray2: #ddd;
  --white: #f9f9f9;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --black: #fff;
    --darkGray: #d6d6d6;
    --gray: #999;
    --lightGray: #333;
    --lightGray2: #626262;
    --white: #191919;
  }
}

// Colors
$blue: #4183C4;

// Grays
$black: var(--black);
$darkGray: var(--darkGray);
$gray: var(--gray);
$lightGray: var(--lightGray);
$lightGray2: var(--lightGray2);
$white: var(--white);

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
